<div class="container blog">
<div class="hero">
  <div class="wrap-no">
    <div>
      <h6>Most Recent Post</h6>
      <h3><%= @first_blog.title %></h3>
      <h4><%= @first_blog.created_at %></h4>
      <p><%= truncate(@first_blog.blog_entry, :length => 250) %></p>
      <%= link_to 'Read More', @first_blog, class: "button dblue" %>
    </div>
  </div>
</div>
<div class="wrap-no cf">
  <div class="blogs">
    <div class="col col-1 cf">
      <% @blog_posts.each do |blog_post| %>
        <div class="item">
          <div class="left">
            <h3><%= link_to blog_post.title, blog_post %></h3>
            <h4><%= @first_blog.created_at %></h4>
            <p><%= truncate(@first_blog.blog_entry, :length => 250) %></p>
            <p>Tags: <em>Trust the Whiper, Books</em></p>
          </div>
          <div class="right">
            <%= image_tag 'blog_image' %>
          </div>
        </div>
      <% end %>
      <%= paginate @blog_posts %>
    </div>
    <div class="col col-2">
        <%= render 'partials/blogbar' %>
    </div>
  </div>
<%= render 'partials/feeds' %>
<%= render 'partials/newsletter' %>
</div>


