<div class="container">
  <div class="wrap-no cf">
    <div class="blogs blogshow">
      <h3><%= link_to 'Back to Blogs', blog_posts_path %></h3>
      <div class="col col-1 cf">
          <div class="post">
            <h3><%= @blog_post.title %></h3>
            <h4><%= @blog_post.created_at %></h4>
            <%= image_tag 'blog_image' %>
            <p><%= @blog_post.blog_entry %></p>
            <p>Tags: <em>Trust the Whisper, Books</em></p>
          </div>
      </div>
      <div class="col col-2">
          <%= render 'partials/blogbar' %>
      </div>
  </div>
  <div class="wrap-no">
  		<h4>Make a Comment</h4>
  	   <%= render 'comments/form' %>
  </div>
  <h2>Comments</h2>
    <% @blog_post.comments.each do |comment| %>
         <p><strong><%= link_to comment.user.username, user_posts_path(id: comment.user.id) %></strong> said:</p>
    		<p><%= comment.comment_entry %></p>
    	<% end %>
  <%= link_to 'Back to Blogs', blog_posts_path, class: 'button dblue' %>
</div>
<%= render 'partials/feeds' %>
<%= render 'partials/newsletter' %>
