<div class="author">
  <div class="cf">
    <div class="image"> 
      <%= image_tag 'kathy-izard.png' %>
    </div>
    <h3>Kathy Izard</h3>
    <h6>Author</h6>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet luctus metus nec pretium. Aliquam massa arcu, interdum vitae ex vulputate, gravida maximus diam.</p>
  <h6><%= link_to 'About Kathy', site_aboutme_path, class: 'icon-angle-right' %></h6>
</div> 
<div class="bluebox">
  <h3>Categories</h3>
  <p><%= link_to 'View all (' +  @blog_posts.total_count.to_s + ')', blog_posts_path %><br>
  <% @categories.each do |cat| %>
    <%= link_to cat.name + ' (' + cat.id.to_s + ')', 'blog_posts?category=' + cat.id.to_s  %><br>
  <% end %>
 
 </p>
</div>
<!-- <h3>Tags</h3>
  <% @tags.each do |tag| %>
    <%= tag.name %><br>
  <% end %> -->  
</div>