<%= form_for(@contact_user) do |f| %>
  <% if @contact_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact_user.errors.count, "error") %> prohibited this contact_user from being saved:</h2>

      <ul>
      <% @contact_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :message %>
    <%= f.text_area :message %>
  </div>
  <div class="actions">
    <%= f.submit 'submit', :class => 'button dblue' %>
  </div>
<% end %>
