<p id="notice"><%= notice %></p>

<h1>Listing Contact Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contact_users.each do |contact_user| %>
      <tr>
        <td><%= contact_user.name %></td>
        <td><%= contact_user.first_name %></td>
        <td><%= contact_user.last_name %></td>
        <td><%= contact_user.email %></td>
        <td><%= contact_user.message %></td>
        <td><%= link_to 'Show', contact_user %></td>
        <td><%= link_to 'Edit', edit_contact_user_path(contact_user) %></td>
        <td><%= link_to 'Destroy', contact_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact user', new_contact_user_path %>
