 <div class="container about">
 <section class="hero">
    <div class="wrap cf">
        <div class="words">
            <h3>Dreamer. Doer. Seeker. Thinker. Mother. Reader. Writer. Speaker. Adventurer. Author.</h3>
        </div>
    </div>
</section>
<div class="container">
<div class="polaroids">
	<%= image_tag 'pol_1', class: 'desktop' %>
	<%= image_tag 'pol_2', class: 'desktop' %>
	<%= image_tag 'pol_3', class: 'desktop' %>
</div>
    <div class="wrap">
        <div class="bio">
            <h6>The Author</h6>
            <h3>Meet Kathy</h3>
            <p>I grew up a little off the grid in El Paso, Texas. My father always believed my sisters and I could change the world. I don&#x27;t know that I really believed him, but his message imprinted on me. I became a Longhorn (University of Texas at Austin) graduating with a B.S. in Advertising and took my first job out of college in Charlotte, N.C. where I have lived most of the last thirty years. Being an art director for ad agencies meant long hours so I started my own graphic design business in order to be home for carpools and naptime for my four daughters. While I loved helping clients and nonprofits communicate their mission, I kept feeling I was missing my own.</p>
            <p>I was forty-four with a great family, a business, but no idea what I wanted to do with my life.  Denver Moore, a formerly homeless man turned best&mdash;selling author of <em>Same Kind of Different As Me</em>, changed all that in 2007. On a tour of the <a href="http://www.urbanministrycenter.org/" target="_blank">Urban Ministry Center</a> in Charlotte where I volunteered, Denver very memorably pointed out to me that while I was helping the homeless by serving soup, the one thing a homeless person actually really needs is a home. Denver put me on the spot and wanted to know if I would do something about that. In a complete moment of guilt and insanity, I promised him I would. </p>
            <p>Two months later, I closed my design business to join the staff of the Urban Ministry Center as the first director of Homeless to Homes, developing Charlotte&#x27;s only Housing First program for the chronically homeless. That startup program turned into a $10,000,000 capital campaign to build an apartment complex named, in part, for the man who inspired it, <a href="moore-place.html">Moore Place</a>.  With the experience of building for the homeless, I have spent most of the past two years working on another project (<a href="http://hopewayfoundation.org">HopeWay</a>) which will be Charlotte&#x27;s first nonprofit residential mental health treatment center opening later this year. My path over the last ten years with those two projects involved so much coincidence, serendipity, and God-incidence that I finally wrote it all down in <a href="book.html"><em>The Hundred Story Home: A Journey of Homelessness, Hope and Healing</em></a>. In my book and on this website, I want to encourage you if you are restless for purpose to have courage to listen to what&#x27;s calling you&mdash;whatever it is, big or small. And especially, no matter how crazy it feels! I think each of us has something we are meant to do and as my dad always told me: You can do anything, really anything.</p>
            <p>Today, I live in Charlotte with my husband, Charlie, who listens patiently to all my crazy ideas. My four amazing daughters, Lauren, Kailey, Emma, and Maddie, encourage me to keep busy trying to change the world so I don&#x27;t worry about changing them. And my black lab, Dexter, keeps me sane, taking walks every day and showing me the truest example of lovin&#x27; life.</p>
        </div>
        <div class="awards">
            <h6>Crazy Nice Awards and Press</h6>
            <ul>
                <li>2009 <a href="">Taylor Batten Op-ed &quot;She Gave Up Safe Place To Give them One&quot;</a></li>
                <li>2009 <a href="">Charlotte Magazine Genius Issue Award</a></li>
                <li>2010 <a href="">Charlotte Observer &quot;I Never Thought We&#x27;d Be Standing Here Ready to Go&quot;</a></li>
                <li>2011 <a href="">Bank of America Neighborhood Excellence Local Hero Award</a></li>
                <li>2012 <a href="">NC Housing Sister Barbara Sullivan Volunteer of the Year Award</a></li>
            </ul>
            <h6>Current Projects and Causes I Love Always</h6>
            <ul>
                <li><a href="http://hopewayfoundation.org" target="_blank">HopeWay</a> (Current Board member and Development Chair)</li>
                <li><a href="https://www.crossnoreschool.org/" target="_blank">The Crossnore School</a></li>
                <li><a href="http://scadalliance.org" target="_blank">SCAD Alliance</a> (Current Board member) </li>
                <li><a href="http://wfu.edu" target="_blank">Wake Forest University</a> (Board of Visitors)</li>
                <li><a href="http://urbanministrycenter.org" target="_blank">Urban Ministry Center and Moore Place</a></li>
                <li><a href="http://womensimpactfund.org" target="_blank">Woman&#x27;s Impact Fund</a></li>
            </ul>
        </div>

        <a href="" class="pop-let">Letter to the Readers</a>
        <div class="popup">
            <div class="wrap">
            <span>x</span>
            <p>Dear Readers,<br><br>

            I spent the past five years writing <em>The Hundred Story Home: A Journey of Homelessness, Hope and Healing</em>. It started out being the account of how I accidently became in charge of housing almost 100 homeless people in Charlotte, NC. I never planned on being an advocate for the homeless, or raising over $10,000,000 to build an apartment building but that&#x27;s the journey I found myself on beginning in 2007. <br><br>

            At the time, I was a 44-year-old graphic designer, married mother of four daughters and a soup kitchen volunteer living a comfortable life but I was uncomfortably restless. My girls were growing up and I encouraged them, the way my father had encouraged me, that they could do anything, really anything. For my four daughters, I had big dreams. For my clients, I had big ideas. But for myself, I couldn&#x27;t imagine a thing.<br><br>

            Do you know that feeling? When you find yourself looking at your life and wondering how you got on that road or maybe you feel like you aren&#x27;t moving at all? If so, I wrote this book for you.  As I wrote and rewrote, I realized this story was not just about homelessness on the streets. It&#x27;s also about homelessness within ourselves. It&#x27;s about not finding that peace and sense of home in our own hearts.  It&#x27;s about being willing to pay attention to something that may be calling you down a new path that feels scary and well, maybe even a little crazy.<br><br>

            That&#x27;s how mine started. I met a formerly homeless man named Denver Moore. He had become the kind of famous co-author of the New York Times bestselling book <em>Same Kind of Different as Me</em> and in a wildly memorable moment asked me four questions that changed the way I saw everything. I couldn&#x27;t shake Denver and his questions, not that day, not that night, not ever. His words did more than make sense. They began to sketch a roadmap for a 44-year-old mom who had lost direction and led me to a path that was never even on my map. <br><br>

            That&#x27;s why I had to write all this down. All the serendipity, all the coincidences started to feel like something not so random when I began paying attention.  I hope my story will inspire you to write your next chapter. If you start to listen, I believe something is calling you, too. You might already be hearing it but are afraid to listen. Whatever it is big or small, Trust the Whisper. As crazy as it may seem, maybe it is crazier not to try. <br><br>

            Thanks for connecting and let me know what you think after you read it! I want to know what&#x27;s whispering to you.<br>
            Kathy

            </p>
            </div>
        </div>  
    </div>

    <%= render 'partials/feeds' %>
    <%= render 'partials/newsletter' %>

</div>
</div>
