<div class="contact big-wrap">
<section class="hero">
    <div class="wrap cf">
        <div class="words">
            <h3>Dreamer. Doer. Seeker. Thinker. Mother. Reader. Writer. Speaker. Adventurer. Author.</h3>
        </div>
    </div>
</section>
<div class="container">
    <div class="wrap-no columns">
    <div class="col col-1">
        <div class="bio">            
            <h3>Contact Kathy</h3>
            <h6>Speaking</h6>
            <p>If you are interested in scheduling an event, please see my <%= link_to 'speaking page', site_speaking_path %></a>. </p>
            <h6>Media</h6>
            <p>If you are with a media outlet and need photos or press information, <a href="mailto:kathy.izard@me.com?subject=Media Request">click here</a>.</p>
            <h6>General</h6>
            <p>For any other reason you'd like to contact me, please <a href="mailto:kathy.izard@me.com?subject=Contact&body=Hi Kathy! I would love to email you about...">click here</a>.</p>
            <h6>homelessness resources</h6>
            <p>In Charlotte:<br>
            Urban Ministry Center and Moore Place<br>
            <%= link_to 'www.urbanministrycenter.org', 'http://www.urbanministrycenter.org' %></p>
            <h6>mental health resources</h6>
           
            <p>In Charlotte:<br>
            HopeWay<br>
            <a href="http://www.hopewayfoundation.org">www.hopewayfoundation.org</a></p>
             <p>National Resources:<br>
            NAMI: National Alliance on Mental Illness<br>
            <%= link_to 'http://nami.org', 'http://www.nami.org' %></p>
            <!-- <h6>general inquiries</h6>
			<p>I am looking forward to connecting with readers and hearing what is whispering to you. While it might take time to respond, please know that I read every one and I am grateful that you reached out to connect.</p>
	        <address>
	            <h6>write:</h6>
	            <p>Kathy Izard
	            <br>1235 East Blvd Suite E PMB 126
	            <br>Charlotte NC 28203</p>
	        </address> -->
		</div>
       
        <a href="" class="pop-let">Letter to the Readers</a>
        <div class="popup">
            <div class="wrap">
            <span>x</span>
            <div class="left"><p><em>&quot;Instructions for living a life: Pay Attention. Be astonished. Tell about it.&quot;</em><br>Mary Oliver</p>
            <p><em>Dear Readers,</em></p>

            <p><em>In 2010, after an astonishing three years of helping house those experiencing homelessness in Charlotte, I decided to try to heed Mary Oliver&#x27;s advice and tell about it. I loved to write but had not written anything longer than an email in decades so it took six years, three writing courses, two editors and two therapists to craft <em>The Hundred Story Home</em>. While I was writing through 2014 and 2015, I tried to interest literary agents and publishers, but received no interest. So in October 2016, I completed the promise to myself and self&#45;published The Hundred Story Home. As part of the launch, I worked with Corri Smith at Black Wednesday Social to help me with social media. Corri had the great idea to put 100 copies in The Little Free Libraries in ten cities to spread the book outside of my home in Charlotte, NC. We did and waited to see what happened.</em></p>

<p><em>At first, it took a little while to catch on. The books were placed all over Charlotte and in cities like Birmingham, Charleston, and Nashville but there wasn&#x27;t a rush to get them. Slowly, people found them and followed the message in the books to post selfies of the book they found. Then people were reading it and sharing it with friends in other cities. One day, I went to my local package store and learned the owner, Debbie Starnes, had sent the book to her family in Ohio. And then this from Rachel Estes, Director of Outreach and Missions at Canterbury United Methodist Church. I had never met Rachel in Birmingham, Alabama but she had responded to our request to share the book in the Little Free Library in her yard: </em></p>

<p><em>There are the books that I mention off hand to folks as a good read.  There are the books that I intentionally email, text or nudge someone to read.  There are the rare books that I hand people copies of and say &quot;You should read this.&quot;  And then there are the books that after you confetti-share them across the community as fast and furiously as possible because you can&#x27;t explain how deeply it moved you...that cause people to come up for the nex&quot; <em>The Hundred Story Home</em> is that book.  The book that you can't mention off hand...that you can&#x27;t just hope someone reads...itvs the book that deserves to be pressed into someone's hands with a promise to have tea and bacon jam and talk about it.  <em>The Hundred Story Home</em> is a book that just begins to engage a few of your own stories and then...you&#x27;ll be pressing it into someone's hands...</em></p>

<p><em>Rachel&#x27;s email to me was the beginning of a new chapter of this book where it was shared in book groups and women&#x27;s groups and houses of faith. Where it began a life I never expected. Pastor Mike Stone in Hickory, NC was the first to invite me to speak after his church did an &quot;all&#45;church read&quot; of <em>The Hundred Story Home</em>. Soon others asked for me to come to Virginia, Atlanta, Raleigh and Greensboro. I started to realize the themes in my book&#45;homelessness, mental health, social justice and call to action&#45;were powerful messages for not only individual readers but for groups to discuss together. It made me wish I had a publisher who could help me spread that message.</em></p>

<p><em>In April 2016, I met with a local literary agent Sally McMillan to ask if that was possible. If a self&#45;published book was finding its way, thousands of copies later, to cities all over the South and East coast, would a publisher now be interested? Two months later, Daisy Hutton with Harper Collins Christian Publishing said, &quot;Yes.&quot;</em></p>

<p><em>I could not be prouder or more amazed to be working with Harper Collins. The little blue book many of you know as <em>The Hundred Story Home</em> officially &quot;retired&quot; in December 2017 to make way for a new edition to be released in hardback and eBook June 2018. (Yes, you can finally get my book on a Kindle!) The Harper Collins team has worked with me to provide great edits to the original book, some new content and exciting additions like a reader&#x27;s guide for groups. Best of all there will be photos so you can &quot;see&quot; everything from the stories of building Moore Place and meeting Denver Moore.</em></p>

<p><em>Thank you to all of you who read and shared <em>The Hundred Story Home</em>! Your grass&#45;roots support of this book is what has made this new version possible. I hope the book continues to spread across the country friend to friend spreading the hope to believe in ourselves and in something bigger.</em></p>

<p><em>With thanks,<br>
Kathy</em></p></div>
<div class="right">
<%= image_tag 'IMG_3091.jpg' %>
<%= image_tag 'IMG_2797.jpg' %>
<%= image_tag 'IMG_3049.JPG' %>

</div></div>
    </div>
</div>

    <div class="col col-2">
    <div class="bluebox">
    <h3>I would love to hear from you! Please email me at <a href="mailto:kathy.izard@me.com?subject=Contact Request&body=Hi Kathy! I am emailing to contact you about..." style="color:#bbd6d9">kathy.izard@me.com</a><br><br><a href="mailto:kathy.izard@me.com?subject=Contact Request&body=Hi Kathy! I am emailing to contact you about..." class="button lblue">here</a> </h3>
<!--     <%= render 'contact_users/form' %>
 -->    </div>
 </div>
    </div>

    <%= render 'partials/feeds' %>
    </div>
</div>