<div class="contact big-wrap">
<section class="hero">
    <div class="wrap cf">
        <div class="words">
            <h3>Dreamer. Doer. Seeker. Thinker. Mother. Reader. Writer. Speaker. Adventurer. Author.</h3>
        </div>
    </div>
</section>
<div class="container">
    <div class="wrap-no columns">
    <div class="col col-1">
        <div class="bio">            
            <h3>Contact Kathy</h3>
            <h6>Speaking</h6>
            <p>If you are interested in scheduling an event, please see my <%= link_to 'speaking page', site_speaking_path %></a>. Mention speaking topics and read some reviews of past events!</p>
            <h6>Media</h6>
            <p>If you are with a media outlet and need photos or press information, <a href="mailto:kathy.izard@gmail.com?subject=Media Request">click here</a>.</p>
            <h6>General</h6>
            <p>For any other reason you'd like to contact me, please <a href="mailto:kathy.izard@gmail.com?subject=Contact&body=Hi Kathy! I would love to email you about...">click here</a>.</p>
            <h6>homelessness resources</h6>
            <p>In Charlotte:<br>
            Urban Ministry Center and Moore Place<br>
            <%= link_to 'www.urbanministrycenter.org', 'http://www.urbanministrycenter.org' %></p>
            <h6>mental health resources</h6>
           
            <p>In Charlotte:<br>
            HopeWay<br>
            <%= link_to 'www.hopeway.org', 'http://www.hopeway.org' %></p>
             <p>National Resources:<br>
            NAMI: National Alliance on Mental Illness<br>
            <%= link_to 'http://nami.org', 'http://www.nami.org' %></p>
            <h6>general inquiries</h6>
			<p>I am looking forward to connecting with readers and hearing what is whispering to you. While it might take time to respond, please know that I read every one and I am grateful that you reached out to connect.</p>
	        <address>
	            <h6>write:</h6>
	            <p>Kathy Izard
	            <br>1235 East Blvd Suite E PMB 126
	            <br>Charlotte NC 28203</p>
	        </address>
		</div>
       
        <a href="" class="pop-let">Letter to the Readers</a>
        <div class="popup">
            <div class="wrap">
            <span>x</span>
            <p>Dear Readers,<br><br>

            I spent the past five years writing <em>The Hundred Story Home: A Journey of Homelessness, Hope and Healing</em>. It started out being the account of how I accidently became in charge of housing almost 100 homeless people in Charlotte, NC. I never planned on being an advocate for the homeless, or raising over $10,000,000 to build an apartment building but that&#x27;s the journey I found myself on beginning in 2007. <br><br>

            At the time, I was a 44-year-old graphic designer, married mother of four daughters and a soup kitchen volunteer living a comfortable life but I was uncomfortably restless. My girls were growing up and I encouraged them, the way my father had encouraged me, that they could do anything, really anything. For my four daughters, I had big dreams. For my clients, I had big ideas. But for myself, I couldn&#x27;t imagine a thing.<br><br>

            Do you know that feeling? When you find yourself looking at your life and wondering how you got on that road or maybe you feel like you aren&#x27;t moving at all? If so, I wrote this book for you.  As I wrote and rewrote, I realized this story was not just about homelessness on the streets. It&#x27;s also about homelessness within ourselves. It&#x27;s about not finding that peace and sense of home in our own hearts.  It&#x27;s about being willing to pay attention to something that may be calling you down a new path that feels scary and well, maybe even a little crazy.<br><br>

            That&#x27;s how mine started. I met a formerly homeless man named Denver Moore. He had become the kind of famous co-author of the New York Times bestselling book <em>Same Kind of Different as Me</em> and in a wildly memorable moment asked me four questions that changed the way I saw everything. I couldn&#x27;t shake Denver and his questions, not that day, not that night, not ever. His words did more than make sense. They began to sketch a roadmap for a 44-year-old mom who had lost direction and led me to a path that was never even on my map. <br><br>

            That&#x27;s why I had to write all this down. All the serendipity, all the coincidences started to feel like something not so random when I began paying attention.  I hope my story will inspire you to write your next chapter. If you start to listen, I believe something is calling you, too. You might already be hearing it but are afraid to listen. Whatever it is big or small, Trust the Whisper. As crazy as it may seem, maybe it is crazier not to try. <br><br>

            Thanks for connecting and let me know what you think after you read it! I want to know what&#x27;s whispering to you.<br>
            Kathy

            </p>
            </div>
        </div>  
    </div>
    <div class="col col-2">
    <div class="bluebox">
    <h3>I would love to hear from you! Please email me at <a href="mailto:kathy.izard@gmail.com?subject=Contact Request&body=Hi Kathy! I am emailing to contact you about..." style="color:#bbd6d9">kathy.izard@gmail.com</a><br><br><a href="mailto:kathy.izard@gmail.com?subject=Contact Request&body=Hi Kathy! I am emailing to contact you about..." class="button lblue">here</a> </h3>
<!--     <%= render 'contact_users/form' %>
 -->    </div>
 </div>
    </div>

    <%= render 'partials/feeds' %>
    <%= render 'partials/newsletter' %>
</div>
</div>