<section class="hero">
	<div class="wrap cf">
		<div id="hero" class="owl-carousel">
			<div class="item">
			<%= image_tag 'header_1', id: "slide-1" %>
			<a href="http://kathyizard.com/assets/img/header-1.png" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>
			<div class="fb-share-button" data-href="http://kathyizard.com/assets/img/header-1.png" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fkathyizard.com%2Fassets%2Fimg%2Fheader-1.png&amp;src=sdkpreparse">Share</a></div>
			</div>
			<div class="item">
			<%= image_tag 'header_1.png', id: "slide-2" %>
			<div class="fb-share-button" data-href="http://kathyizard.com/assets/img/header-1.png" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fkathyizard.com%2Fassets%2Fimg%2Fheader-1.png&amp;src=sdkpreparse">Share</a></div>
			</div>
			<div class="item">
			<%= image_tag 'header_1', id: "slide-3" %>
			<div class="fb-share-button" data-href="http://kathyizard.com/assets/img/header-1.png" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fkathyizard.com%2Fassets%2Fimg%2Fheader-1.png&amp;src=sdkpreparse">Share</a></div>
			</div>
		
		</div>
		<div class="num"></div>
	</div>
</section>
<div class="container">
<section class="words">
	<div class="wrap">
		<h3>Dreamer. Doer. Seeker. Thinker. Mother. Reader. Writer. Speaker. Adventurer. Author.</h3>
	</div>
</section>
<section class="book">
	<div class="wrap cf">
		<div class="left">
			<%= image_tag 'the-hundred-story-home' %>
		</div>
		<div class="right bluebox">
			<h5>the book</h5>
			<h3>The Hundred Story Home.</h3>
			<p>In 2007, mother of four, graphic designer and soup kitchen volunteer, Kathy Izard listened to a whisper that urged her to quit her job to help house the homeless. Along with building a home for one hundred, she found faith, forgiveness, and fulfillment in her own life. Order the inspirational story of how believing in changing the world will end up changing you.</p>
			<script type="text/javascript" src="http://s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"http://mc.us13.list-manage.com","uuid":"52ee19ebbf2252269f775b6f9","lid":"039dd78d87"}) })</script>
			<a href="#newsletter" class="lblue button ">Pre-Order</a>
		</div>
	</div>
</section>
<section class="review">
	<div class="wrap">
		<div class="owl-carousel" id="testimonials">
			<div class="item">
				<p>Compelling, inspiring, funny and poignant.... This is a book about finding your purpose in a meaningful life; it&#x27;s about faith and family and friendship. But mostly, it&#x27;s a love story.&quot;</p>
				<h6>Kristin Hills Bradberry, Charlotte<br>
Strategic Advisor to Nonprofits</h6>
			</div>
			<div class="item">
				<p>Compelling, inspiring, funny and poignant.... This is a book about finding your purpose in a meaningful life; it&#x27;s about faith and family and friendship. But mostly, it&#x27;s a love story.&quot;</p>
					<h6>Kristin Hills Bradberry, Charlotte<br>
Strategic Advisor to Nonprofits</h6>
			</div>
		</div>
	</div>
</section>
<section class="kathy">
	<div class="wrap">
		<div class="quote">
			<p>I believe we are each called to life&#x2014;true, abundant, purposeful life. You have a call patiently waiting and whispering. You might already be hearing it but are afraid to listen. My message to you is this:</p>
			<h3>Trust the Whisper.</h3>
			<p>No matter how crazy it feels to listen, it is crazier not to.</p>
			<%= image_tag 'sig-white' %>
		</div>
		<%= image_tag 'kathy-izard' %>
	</div>
</section>
<%= render 'partials/newsletter' %>
<section class="whisper">
	<div class="wrap">
		<span>What's Your Whisper?</span>
		<a href="about-you" class="button white">Learn More</a>
	</div>
</section>
</div>
