
<div class="big-wrap">
<img src="/Twitter.png" style="display:none;">
<img src="/Instagram.png" style="display:none;">
<img src="/Facebook.png" style="display:none;">
<img src="/Logo_Mark2_x1.png" style="display:none;">
<section class="hero">
	<div class="wrap-no">
		<div id="hero" class="owl-carousel">
			<div class="item">
			<%= image_tag 'header_1.png', id: "s-1" %>
			<!-- <a href="http://kathyizard.com/assets/img/header-1.png" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>
			<div class="fb-share-button" data-href="http://kathyizard.com/assets/img/header-1.png" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fkathyizard.com%2Fassets%2Fimg%2Fheader-1.png&amp;src=sdkpreparse">Share</a></div> -->
			</div>
			<div class="item">
			<a href="site/aboutyou"><%= image_tag '01-Kathy.jpg', id: "s-2" %></a>
			<!-- <div class="fb-share-button" data-href="http://kathyizard.com/assets/img/header-1.png" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fkathyizard.com%2Fassets%2Fimg%2Fheader-1.png&amp;src=sdkpreparse">Share</a></div> -->
			</div>
			<div class="item">
			<%= image_tag '02-Kathy.jpg', id: "s-3" %>
			<!-- <div class="fb-share-button" data-href="http://kathyizard.com/assets/img/header-1.png" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fkathyizard.com%2Fassets%2Fimg%2Fheader-1.png&amp;src=sdkpreparse">Share</a></div> -->
			</div>
		
		</div>
		<div class="num"></div>
	</div>
</section>
<div class="container">
<section class="words full">
	<div class="wrap">
		<h3>Dreamer. Doer. Seeker. Thinker. Mother. Reader. Writer. Speaker. Adventurer. Author.</h3>
	</div>
</section>
<section class="contact-home">

	<div class="bluebox">
	<div class="wrap">
    <h3>I would love to hear from you! Please email me at <a href="mailto:kathy@kathyizard.com?subject=Contact Request&body=Hi Kathy! I am emailing to contact you about..." style="color:#bbd6d9">kathy@kathyizard.com</a><span>     </span><a href="mailto:kathy@kathyizard.com?subject=Contact Request&body=Hi Kathy! I am emailing to contact you about..." class="button lblue">here</a> </h3>
  </div>
  </div>
</section>
<section class="book">
	<div class="wrap-no cf">
		<div class="left">
			<%= image_tag 'the-hundred-story-home.png' %>
		</div>
		<div class="right bluebox">
			<h5>the book</h5>
			<h3>The Hundred Story Home.</h3>
			<p>In 2007, mother of four, graphic designer and soup kitchen volunteer, Kathy Izard listened to a whisper that urged her to quit her job to help house the homeless. Along with building a home for one hundred, she found faith, forgiveness, and fulfillment in her own life. Order the inspirational story of how believing in changing the world will end up changing you.</p>
			<script type="text/javascript" src="http://s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"http://mc.us13.list-manage.com","uuid":"52ee19ebbf2252269f775b6f9","lid":"039dd78d87"}) })</script>
			<a class="button lblue" href="https://www.amazon.com/Hundred-Story-Home-Journey-Homelessness/dp/0997778407/ref=sr_1_1?ie=UTF8&qid=1475169847&sr=8-1&keywords=the+hundred+story+home" target="_blank">Buy Now</a><br>
			<small>Support your local book store in Charlotte! Available at</small>
			<div class="stores">
			<%= image_tag 'papersky.png' %>
			<%= image_tag 'parkroad.png' %>
			</div>
		</div>
	</div>
</section>
<section class="review">
	<div class="wrap-no">
		<div class="owl-carousel" id="testimonials">
			<div class="item">
				<p>From the beginning of time, I believe it was ordained that Kathy would have a life changing encounter with Denver Moore. He believed that as well. These unexpected encounters . . .thrill believers and encourage doubters to search. Prepare yourself to be thrilled or to begin searching for your Denver.&quot;</p>
				<h6>Ron Hall, author <em>Same Kind of Different As Me</em> (Movie adaption February 2017)</h6>
			</div>
			<div class="item">
				<p>The Hundred Story Home is a captivating, beautifully-written account of one woman's search for purpose and how a combination of doubt, faith and doing the right thing a thousand times over led to the building of something important and extraordinary.&quot;</p>
					<h6>Mark Ethridge, Author of <br><em>Grievances and Fallout</em></h6>
			</div>
			<div class="item">
				<p>Kathy Izard tells two compelling stories in one: About her journey toward fulfilling her life's purpose and about Charlotte's journey to finally treating its chronically homeless with compassion and dignity.  Each has twists and turns, each has a happy ending, and Izard tells each with a style that will captivate readers far beyond her most natural audience.&quot;</p>
					<h6>Taylor Batten, Editorial Page Editor<br><em>The Charlotte Observer</em></h6>
			</div>
			<div class="item">
				<p>Kathy Izard, the remarkable and unlikely champion of housing for the homeless in Charlotte, gives us another gift – her honest, humble and unforgettable story of the chance encounters and enduring comments that conceived and sustained Moore Place despite repeated setbacks. &quot;</p>
				<h6>Ken Gepfert, a former editor at <em>The Charlotte Observer</em> and <em>Wall Street Journal</em></h6>
			</div>
		</div>
	</div>
</section>
<section class="kathy">
	<div class="wrap">
		<div class="quote">
			<p>I believe we are each called to life&#x2014;true, abundant, purposeful life. You have a call patiently waiting and whispering. You might already be hearing it but are afraid to listen. My message to you is this:</p>
			<h3>Trust the Whisper.</h3>
			<p>No matter how crazy it feels to listen, it is crazier not to.</p>
			<h6>Kathy Izard</h6>
		</div>
		<h5><a class="fancybox various fancybox.iframe" href="https://player.vimeo.com/video/180655215">Watch Author Video</a></h5>
		<%= image_tag 'kathy-izard.png' %>
	</div>
</section>
<section class="whisper">
	<div class="wrap">
		<span>What's Your Whisper?</span>
		<a href="site/aboutyou" class="button white">Learn More</a>
	</div>
</section>
</div>
</div>
