<div class="container">
<section class="hero moore-background">
	<div class="wrap-no">
	<%= image_tag '/library-hero.png', width: '100%' %>
	</div>
</section>
<section>
<div class="wrap">

<h1 style="color:#487497; font-size:40px">Enter Kathy's #trustthewhisper <a href="https://littlefreelibrary.org/" target="_blank">Little Free Library</a> Contest!</h1>

<p>We hid 100+ books in LFL's across the country in honor of November which is Homelessness Awareness Month.  </p>

<p>Look for a copy of <em><%= link_to 'The Hundred Story Home', site_book_path %></em> in the following cities...</p>

<ul><li>Atlanta, GA</li>
<li>Nashville, TN</li>
<li>Charlotte, NC</li>
<li>Columbia, SC</li>
<li>Charleston, SC</li>
<li>Portland, OR</li>
<li>Los Angeles, CA</li>
<li>Asheville, NC</li>
<li>Augusta, GA</li>
<li>San Antonio, TX</li>
<li>Birmingham, AL</li>
<li>Winston-Salem, NC</li>
<li>Raleigh-Durham, NC</li>
</ul>

<h4 style="color:#487497; padding:20px 0;"><b>TO ENTER:</b> Find a copy, post a picture to Instagram or Twitter with the #trustthewhisper and tag @kathyizardclt for your chance to win an iPad Mini 4! Keep the book or read it and put it back for someone else to enjoy. Social media post must be made prior to the contest close date on 12/31/16. Winner will be notified by 1/7/17.</h4>

<h3 style="padding:0 0 40px 0">#TheHundredStoryHome</h3>
</div>
</section>
<section class="lib-images">
<div class="wrap-no cf">
	<%= image_tag '/library-1.jpeg' %>
	<%= image_tag '/library-4.jpeg' %>
	<%= image_tag '/library-3.jpeg' %>
	<%= image_tag '/library-2.jpeg' %>
	
</div>
</section>
</div>