

<div class="moore-background">
	<div class="wrap-no cf">
		<div class="header-moore cf">
			<div class="solomon-video">
			<!-- <a class="fancybox various fancybox.iframe" href="https://player.vimeo.com/video/180655215"> -->
				<%= image_tag 'Kathy_AuthorVideo.png', class:'videoimage', class: "videoSol" %>
			<!-- </a> -->
					
				</div>

			<div class="bluebox">
				<h3>About the Author</h3>
				<p>Kathy Izard is an award-winning author and speaker who helped bring transformation to Charlotte in homelessness, housing and mental health. Her memoir The Hundred Story Home has been featured on NPR and inspires people to be changemakers in their communities.</p>

			</div>

		</div>

		<div class="content cf wrap-no">

			<div class="cf media-vids">

				<h3>Appearances <span style="font-size: 14px;">(click to view)</span></h3>
				<div class="med cf">
					<div><a href="https://www.npr.org/podcasts/563130946/south-bound" target="_blank"><%= image_tag 'Southbound.png'%></a></div>
					<div><a href="https://thecharlottepodcast.com/2018/05/30/episode-126-kathy-izard/" target="_blank"><%= image_tag 'cp.png' %></a></div>
					<div><a href="http://www.wbtv.com/clip/14408063/kathy-izard-visits-morning-break?autostart=true" target="_blank"><%= image_tag 'morning-break.png'%></a></div>
				<div><a href=" https://soundcloud.com/notoldbetter/230-kathy-izard-the-100" target="_blank"><%= image_tag 'art-of-living.png'%></a></div>
				<div><a href=" https://www.wcnc.com/article/entertainment/television/charlotte-today/how-a-book-is-helping-homeless-people-in-charlotte/275-567644404" target="_blank"><%= image_tag 'Charlotte_Today.png'%></a></div>
				</div>
				<h3>Videos</h3>
				
			   <div class="item">
				   <a class="fancybox various fancybox.iframe" href="http://cltblog.com/33676">
				    	<%= image_tag 'moorevideo.png', alt: "Moore Place Video", class: "videoSol" %></a>
				    <p>A walkthrough of Moore Place, Charlotte's first real solution to homelessness.</p>
				</div>
			    <div class="item">
			    	<a class="fancybox various fancybox.iframe" href="https://player.vimeo.com/video/102030931?title=0&byline=0&portrait=0"><%= image_tag 'VideoSolomon.png', alt: "Photo of Solomon", class: "videoSol" %></a>
			    	<p>Solomon Agunbiade, a resident of Moore Place in Charlotte, NC, shares how the counseling and housing he received through Urban Ministry Center has changed his life and his dreams for the future.</p>
			    </div>
			    <div class="item">
					<div class="">
					<a class="fancybox various fancybox.iframe " href="http://www.wbtv.com/clip/14408063/kathy-izard-visits-morning-break?autostart=true">
					<%= image_tag 'mb.png', alt: "Kathy Izard visits morning break", class: "videoSol" %>
					</a>
					</div>
					<p>Kathy Izard Visits Morning Break</p>
				</div>
			    <div class="item wrap" style="padding: 0 10px 20px;">
					<h6>Media</h6>
				    <span style="color:#666;">If you are with a media outlet and need photos or press information, <a href="mailto:kathy.izard@me.com?subject=Media Request">click here</a>.
			    </span>
				</div>
			
			</div>
			
<!-- 			<div class="wrap downloads">
				<%= link_to 'Bio', 'Bio.pdf', action: :download %>
				<%= link_to 'Book Cover', 'BookCover_MED.jpeg', download: true %>
			</div> -->
		</div>
	</div>

</div>


