
<div class="moore-background">
	<div class="wrap-no cf">
		

		<div class="content cf">
			<div class="main-content cf">
				<h3>Moore Place</h3>
				<p>Opened on January 29, 2012, Moore Place was the first permanent supportive housing solution in Charlotte to house chronically homeless men and women directly from street to home using the Housing First philosophy. It was a four-year community effort to build and is named in honor of Denver Moore (Same Kind of Different as Me) and John and Pat Moore, community philanthropists who provided the first funding for the pilot program Homeless to Homes started by the Urban Ministry Center. Moore Place currently houses 120 residents and the current Housing Works program at UMC houses an additional 140 residents.</p>
			</div>
			<div class="img-with-text cf">
			   <a class="fancybox various fancybox.iframe" href="https://www.youtube.com/embed/jjsKkxUQjVU" frameborder="0" allowfullscreen></iframe>
			    	<%= image_tag 'moorevideo.png', alt: "Moore Place Video" %></a>
			    <p>A walkthrough of Moore Place, Charlotte's first real solution to homelessness.</p>
			</div>

		</div>
		<div class="content">
			<div class="about-moore main-content fix-stop">
				<h3>About The Urban Ministry Center</h3>
				<p>The Urban Ministry Center is an interfaith orginization dedicated to bringing the community together to end homelessness, one life at a time.</p>

				<li class="resources-list">To learn about the Urban Ministry Center <a href="http://www.urbanministrycenter.org/" target="_blank">click here</a></li>

				<li class="resources-list">To learn about their permanent supportive housing program <a href="http://www.urbanministrycenter.org/" target="_blank">click here</a></li>
					
			</div>
			<div class="img-with-text cf">
			   
			    <div class="border"><%= image_tag 'moore_place_residents.png', alt: "Moore Place Residents" %></a></div>
			    <p>Kathy with current residents of Moore Place.</p>
			</div>
		
		</div>
	</div>

	<!-- Beginning of mobile Owl Carousel One -->
	<div class="wrap">
		<div class="moore-quotes">
					<div  class="moore-carousel cf">
						<div class="item tablet" id="slide-1">
							<%= image_tag 'kathy_mom.png', alt: "Moore Place contruction" %>
							<div class="hover slide-1">
								<h3>Lindsay Green</h3>
								<p>Kathy's mother in front of Moore Place on Opening Day 2012</p>
							</div>
						</div>
						<div class="item" id="slide-2">
							<%= image_tag 'denver.png', alt: "Tom and Denver Photo" %>
								<div class="hover slide-2">
								<h3>Ron Hall &amp; Denver Moore</h3>
								<p>co-authors Same Kind of Different As Me. Moore Place is named partly in honor of Denver Moore who challenged Kathy Izard to do more for the homeless in Charlotte.</p>
							</div>

						</div>
						<div class="item tablet" id="slide-3">
							<%= image_tag 'moore-board-img.png', alt: "Pat and John Moore" %>
								<div class="hover slide-3">
								<h3>Pat &amp; John Moore</h3>
								<p>Moore Place is also named in honor of Pat &amp; John Moore who provided the first seed grant for the Homeless to Homes pilot program in 2007.</p>
							</div>

						</div>
					</div>

				<div class="quote-block">
					<blockquote>
						<!-- <h3>Courage is not the absence of fear, but rather the willingness to persist in the face of fear</h3> -->
							
							<p>&quot; As her colleague, I knew Kathy as a force of passion and know-how. When Kathy said she wanted to help Urban Ministry Center create housing, we let out a collective sigh of relief. We had no doubt that she could get it done. Reading the story of her own doubts in herself and the project along the way was a beautiful reminder that courage is not the absence of fear, but rather the willingness to persist in the face of fear.&quot;</p>
								<h6>Liz Clasen-Kelly<br> 
									Director<br> 
									Men's Shelter Charlotte</h6>
					</blockquote>
				</div>
				<!-- Beginning of mobile Owl Carousel Two -->
					<div class="moore-carousel cf">
						<div class="item" id="slide-4">
								<%= image_tag 'chillywilly.png', alt: "Chilly Willy Photo" %>
							<div class="hover slide-4">
								<h3>William Larry Major</h3>
								<p>Chilly Willy, Housed in Moore Place February 14, 2012</p>
							</div>
						</div>
						<div class="item tablet"  id="slide-5">
							<%= image_tag 'moore-place-site.png', alt: "Map of Moore Place" %>
								<div class="hover slide-5">
								<h3>First Draft</h3>
								<p>The original site plan for Moore Place.</p>
							</div>
						</div>
						<div class="item tablet"  id="slide-6">
							<%= image_tag 'eugene.png', alt: "Eugene and Joann photo" %>
								<div class="hover slide-6">
								<h3>Moving in Day</h3>
								<p>Eugene Coleman hugging case worker Joann Markely in 2008 on his move in day to Homeless to Homes.</p>
							</div>
						</div>
					</div>

				<div class="quote-block">
					<blockquote>
<!-- 						<h3>It was Kathy Izard who was the heartbeat</h3>
 -->							
							<p>&quot;To create the first permanent supportive housing facility for the chronically homeless in Charlotte required hundreds of hands and feet all working together. However, it was Kathy Izard who was the heartbeat continually energizing the community to do what no one thought could be done.&quot;</p>
								<h6>Dale Mullennix<br> 
									Executive Director<br> 
									Urban Ministry Center</h6>
					</blockquote>
				</div>
				
				<!-- Beginning of mobile Owl Carousel Three -->
						<div  class="moore-carousel cf">
							<div class="item tablet" id="slide-7" >
								<%= image_tag 'moore-place-sign.png', alt: "Front Sign" %>
									<div class="hover slide-7">
										<h3>Welcome Sign</h3>
										<p>Opened in 2012, Moore Place now houses 120 residents.</p>
									</div>
							</div>
							<div class="item" id="slide-8">
								<%= image_tag 'dale_photo.png', alt: "Dale Mullennix" %>
									<div class="hover slide-8">
										<h3>Dale Mullennix</h3>
										<p>The first and only Executive Director of the Urban Ministry Center since 1994.</p>
									</div>
							</div>
							<div class="item tablet" id="slide-9" >
								<%= image_tag 'first_staff.png',  alt: "Kathy's Mom outside of Moore Place" %>
									<div class="hover slide-9">
										<h3>First Staff</h3>
										<p>Moore Place employees on Opening Day, January 29, 2012. Caroline Chambre, Executive Director, second row, thrid from left.</p>
									</div>
							</div>
						</div>


				<div class="quote-block">
					<blockquote>
<!-- 						<h3>Kathy is a force of nature</h3>
 -->				
				<p>&quot;To say that she literally breathed Moore Place into reality would not be an inaccurate decription, except that it undercuts her long days and nights of blood, sweat, and tears. In 2008 &amp; 2009, no one in this community was talking about &quot;housing first&quot; or even simply--real housing--as the solution to homelessness. Kathy was often a one-woman band, armed with determination, data, and a dogged belief that Moore Place could--and world--transform lives and the community.&quot;</p>
					</blockquote>
						<h6>Caroline Chambre Hammock<br> 
							Former Director of Moore Place</h6>
				</div>
		<div class="header-moore cf">
				<div class="solomon-video">
					<a class="fancybox various fancybox.iframe" href="https://player.vimeo.com/video/102030931?title=0&byline=0&portrait=0"><%= image_tag 'VideoSolomon.png', alt: "Photo of Solomon", class: "videoSol" %></a>
				</div>
	

			<div class="bluebox">
				<h3>Solomon Aunbiade</h3>
					<h6>moore place resident</h6>

				<p>Solomon Agunbiade, a resident of Moore Place in Charlotte, NC, shares how the counseling and housing he received through Urban Ministry Center has changed his life and his dreams for the future.</p>

			</div>
		</div>
					
		</div>

	</div>
</div>


