
<div class="moore-background reader">
	<div class="wrap-no cf">
		<div class="header-moore cf">
				<div class="solomon-video">
					<%= image_tag 'bookandflower.png', alt: "Book and flower" %></a>
				</div>
	

			<div class="bluebox">
				<h3>Stories from Home</h3>
					<p>In the past year, The Hundred Story Home has made it all over the US as friends shared it with others.  Just a few of the places where I have received cards, letters and emails from</p>
	
				<p style="font-size:12px;line-height: 18px;">Alexandria, VA &#x2022; Atlanta, GA &#x2022; Augusta, GA &#x2022; Austin, TX &#x2022; Asheville, NC &#x2022; Birmingham, AL &#x2022; Buffalo, NY &#x2022; Charleston, SC &#x2022; Chapel Hill, NC &#x2022; Greensboro, NC &#x2022; Hickory, NC &#x2022; Lexington (KY and VA) &#x2022; Los Angeles, CA &#x2022; Knoxville, TN &#x2022; Nashville, TN &#x2022; New York, NY &#x2022; Portland, OR &#x2022; Raleigh, NC &#x2022;  Wilmington (NC and DE) &#x2022; Washington, DC </p>


			</div>
		</div>

		<div class="content cf">
			<div class="main-content">
				<h3>Readers' Stories</h3>
				<p>Many invited me to their church or their civic group to share the message of believing in ourselves and in something bigger. In each city, I met people trusting their own whispers and Doing Good. Some dreams were as big as a building and others were making a difference one life at a time. Meeting these inspiring people and finding out was calling them is part of my next chapter. Here are a few of the many I have met. If you know someone who has listened to their whisper to find their calling let me know about it. Email me their (or your) photo and story: <a href="mailto:kathy.izard@gmail.com?subject:Readers Stories" class="button lblue">Email Kathy</a></p>
			</div>
			
		</div>
		
	</div>

	<!-- Beginning of mobile Owl Carousel One -->
	<div class="no-wrap">
		<div class="grid cf">
					
			<div class="item">
				<%= image_tag 'manwithbook.jpg', alt: "Mike Ruckart" %>
				<div class="hover">
					<h3>Mike Ruckart</h3>
					<p>Charlotte, NC</p>
					<small>A friend in my book club, Ann Temple couldn’t wait to tell me about her last haircut. She sat down with her hairstylist, Mike, and he said, “You have got to read this book!”It was The Hundred Story Home. Mike and I had never met, but he had been lending out copies to all his customers. When I went to meet him and thank him, he asked if I was going to write another book. I told him the Moore Place miracle was all I had to tell right and he said, “Well, make something up—I want to read more!”
					</small>
				</div>
			</div>
			<div class="item">
				<%= image_tag 'melissaandrachel.png', alt: "Melissa and Rachel" %>
				<div class="hover">
					<h3>Ron Hall &amp; Denver Moore</h3>
					<p>co-authors Same Kind of Different As Me. Moore Place is named partly in honor of Denver Moore who challenged Kathy Izard to do more for the homeless in Charlotte.</p>
				</div>
			</div>
			<div class="item" >
				<%= image_tag 'gigianddavis.png', alt: "Gigi and Davis" %>
				<div class="hover">
					<h3>Pat &amp; John Moore</h3>
					<p>Moore Place is also named in honor of Pat &amp; John Moore who provided the first seed grant for the Homeless to Homes pilot program in 2007.</p>
				</div>
			</div>
			<div class="item">
				<%= image_tag 'manwithbook.jpg', alt: "Mike Ruckart" %>
				<div class="hover">
					<h3>Mike Ruckart</h3>
					<p>Charlotte, NC</p>
				</div>
			</div>
			<div class="item">
				<%= image_tag 'melissaandrachel.png', alt: "Melissa and Rachel" %>
				<div class="hover">
					<h3>Ron Hall &amp; Denver Moore</h3>
					<p>co-authors Same Kind of Different As Me. Moore Place is named partly in honor of Denver Moore who challenged Kathy Izard to do more for the homeless in Charlotte.</p>
				</div>
			</div>
			<div class="item" >
				<%= image_tag 'gigianddavis.png', alt: "Gigi and Davis" %>
				<div class="hover">
					<h3>Pat &amp; John Moore</h3>
					<p>Moore Place is also named in honor of Pat &amp; John Moore who provided the first seed grant for the Homeless to Homes pilot program in 2007.</p>
				</div>
			</div>
			<div class="item">
				<%= image_tag 'manwithbook.jpg', alt: "Mike Ruckart" %>
				<div class="hover">
					<h3>Mike Ruckart</h3>
					<p>Charlotte, NC</p>
				</div>
			</div>
			<div class="item">
				<%= image_tag 'melissaandrachel.png', alt: "Melissa and Rachel" %>
				<div class="hover">
					<h3>Ron Hall &amp; Denver Moore</h3>
					<p>co-authors Same Kind of Different As Me. Moore Place is named partly in honor of Denver Moore who challenged Kathy Izard to do more for the homeless in Charlotte.</p>
				</div>
			</div>
			<div class="item" >
				<%= image_tag 'gigianddavis.png', alt: "Gigi and Davis" %>
				<div class="hover">
					<h3>Pat &amp; John Moore</h3>
					<p>Moore Place is also named in honor of Pat &amp; John Moore who provided the first seed grant for the Homeless to Homes pilot program in 2007.</p>
				</div>
			</div>
		</div>
	</div>
</div>


