<%= form_for(@speaking_user) do |f| %>
  <% if @speaking_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@speaking_user.errors.count, "error") %> prohibited this speaking_user from being saved:</h2>

      <ul>
      <% @speaking_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="cf">
    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label 'Event date, name, location' %>
    <%= f.text_field :event %>
  </div>
  <div class="field">
    <%= f.label :message %>
    <p>What details can you give us about your event? (Attendee size, theme, frequency and theme desired in speaking topic).</p>
    <%= f.text_area :message%>
  </div>
  <div class="actions">
    <%= f.submit 'submit', :class => 'button dblue' %>
  </div>
<% end %>
